{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NAMI IoT - {{ user.username }}{% endblock %}

{% block page_content %}

<h2>Sensors of {{ user.username }}</h2>
{% if sensors %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--script src="https://code.highcharts.com/highcharts.js"></script-->
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
    <!--script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script-->
<div class="col-md-4" id="foo">
    {{ wtf.quick_form(form) }}
</div>

<script>
    $(document).ready(function() {
        $('#foo').submit(function (e) {
            var url = "{{ url_for('main.sensors', username=user.username) }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                timeout: 10000,
                success: function (data) {
                    var myDiv = $('#result');
                    myDiv.html(data);
                }
            });
            e.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>

<div class="container">
    <p></p>
</div>

<div id='result' class="container">
    {{ result }}
</div>

{% else %}
<h2> No sensor recorded. </h2>
<div class="col-md-4" id="foo">
    {{ wtf.quick_form(form2) }}
</div>

{% endif %}
{% endblock %}
