{% extends "base.html" %}
{% block page_content %}

{% if user_file %}
<div class="page-header">
    <h1>CRI charts</h1>
</div>
<div>
    <a href="{{ url_for('cri.cri_chart') }}" class="btn btn-default">Check uploaded spectrum</a>
</div>

<div class="page-header">
    <h3>Colorimetric Diagram</h3>
</div>

{% if cie1931[1] %}
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[3]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[0]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[4]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:right; display:inline">
    {{ cie1931[7]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:right; display:inline">
    {{ cie1931[8]|safe }}
</div>
<p>x is {{ cie1931[2][0] }}, y is {{ cie1931[2][1] }}</p>
<p>Ra is {{ cie1931[6] }}, CCT is {{ cie1931[5] }}</p>
<p>Duv is {{ cie1931[9] }}, SDCM is {{ cie1931[10] }}</p>

{% endif %}
{% endif %}


<div class="container">
      <form action="{{ url_for('cri.upload_spectrum') }}" method="post" enctype="multipart/form-data">
          <label class="btn btn-default btn-file">
            Choose file<input type="file" class="form-control" name="file" style="display: none"><br />
          </label>
          <label class="btn btn-default btn-file">
            Upload<input type="submit" class="form-control" value="Upload" style="display: none">
          </label>
      </form>
</div>
{% endblock %}