{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
    <h1>CRI charts</h1>
</div>

{% if form %}
<div class="col-md-4" id="foo">
    {{ wtf.quick_form(form) }}<br>
    <a href="{{ url_for('cri.upload') }}" class="btn btn-default">Back</a>
</div>

<script>
    $(document).ready(function() {
        $('#foo').submit(function (e) {
            var url = "{{ url_for('cri.cri_chart') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                timeout: 10000,
                success: function (data) {
                    var myDiv = $('#result');
                    myDiv.html(data);
                }
            });
            e.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>
{% endif %}

<div class="container">
    <p></p>
</div>

{% if spd[1] %}

<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ spd[1]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ spd[0]|safe }}
</div>
{% endif %}

{% if cie1931[0] %}

<div class="container">
    {{ cie1931[5]|safe }}
</div>

<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[0]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[1]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931[2]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:right; display:inline">
    {{ cie1931[3]|safe }}
</div>
<div class="container" style="width:500px; height:auto; float:right; display:inline">
    {{ cie1931[4]|safe }}
</div>

{% endif %}

{% endblock %}