
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/anhui.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/aomen.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/beijing.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/chongqing.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/fujian.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/gansu.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/guangdong.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/guangxi.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/guizhou.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/hainan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/hebei.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/heilongjiang.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/henan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/hubei.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/hunan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/jiangsu.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/jiangxi.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/jilin.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/liaoning.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/neimenggu.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/ningxia.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/qinghai.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/shangdong.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/shanghai.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/shanxi.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/sichuan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/taiwan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/tianjin.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/xianggang.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/xinjiang.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/xizang.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/yunnan.js "></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/zhejiang.js "></script>
</head>

<body>
    <div id="main" style="width:800px;height:400px;"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
    "tooltip": {},
    "series": [
        {
            "name": "Spectrum",
            "markPoint": {
                "data": [
                    {
                        "type": "min",
                        "name": "最小值",
                        "symbol": "pin",
                        "symbolSize": 50,
                        "label": {
                            "normal": {
                                "textStyle": {
                                    "color": "#fff"
                                }
                            }
                        }
                    },
                    {
                        "type": "max",
                        "name": "最大值",
                        "symbol": "pin",
                        "symbolSize": 50,
                        "label": {
                            "normal": {
                                "textStyle": {
                                    "color": "#fff"
                                }
                            }
                        }
                    }
                ]
            },
            "step": false,
            "label": {
                "normal": {
                    "formatter": null,
                    "textStyle": {
                        "color": "#000",
                        "fontSize": 12
                    },
                    "position": "top",
                    "show": false
                },
                "emphasis": {
                    "show": true
                }
            },
            "symbol": "emptyCircle",
            "areaStyle": {},
            "type": "line",
            "lineStyle": {
                "normal": {
                    "opacity": 1,
                    "type": "solid",
                    "curveness": 0,
                    "width": 1
                }
            },
            "markLine": {
                "data": [
                    {
                        "type": "average",
                        "name": "平均値"
                    }
                ]
            },
            "stack": "",
            "showSymbol": true,
            "smooth": false,
            "data": [
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                5.15e-05,
                0.00015,
                0.00025,
                0.000367,
                0.000487,
                0.0006230000000000001,
                0.0008029999999999999,
                0.000984,
                0.0012,
                0.00144,
                0.0017,
                0.00202,
                0.00233,
                0.00268,
                0.0030800000000000003,
                0.0034799999999999996,
                0.004,
                0.004520000000000001,
                0.00509,
                0.00573,
                0.006370000000000001,
                0.00722,
                0.00808,
                0.00899,
                0.00999,
                0.011,
                0.0122,
                0.0134,
                0.0147,
                0.0162,
                0.0177,
                0.0194,
                0.0211,
                0.0229,
                0.025,
                0.0271,
                0.0293,
                0.0315,
                0.0337,
                0.036,
                0.0383,
                0.0402,
                0.0419,
                0.0434,
                0.0448,
                0.0462,
                0.0471,
                0.0477,
                0.0482,
                0.0476,
                0.0471,
                0.0463,
                0.0454,
                0.0444,
                0.043,
                0.0416,
                0.0402,
                0.0389,
                0.0375,
                0.0361,
                0.0348,
                0.0335,
                0.0322,
                0.0309,
                0.0299,
                0.0289,
                0.0279,
                0.027,
                0.0261,
                0.0253,
                0.0245,
                0.0238,
                0.0231,
                0.0225,
                0.0221,
                0.0217,
                0.0213,
                0.021,
                0.0208,
                0.0208,
                0.0207,
                0.0207,
                0.0208,
                0.0208,
                0.021,
                0.0211,
                0.0213,
                0.0215,
                0.0217,
                0.022,
                0.0223,
                0.0226,
                0.0229,
                0.0232,
                0.0236,
                0.0239,
                0.0242,
                0.0246,
                0.0249,
                0.0252,
                0.0254,
                0.0258,
                0.0261,
                0.0263,
                0.0265,
                0.0268,
                0.027,
                0.0272,
                0.0274,
                0.0276,
                0.0278,
                0.0279,
                0.028,
                0.0282,
                0.0283,
                0.0283,
                0.0284,
                0.0285,
                0.0285,
                0.0285,
                0.0285,
                0.0285,
                0.0286,
                0.0287,
                0.0287,
                0.0286,
                0.0286,
                0.0285,
                0.0285,
                0.0285,
                0.0284,
                0.0284,
                0.0282,
                0.0281,
                0.028,
                0.0279,
                0.0278,
                0.0277,
                0.0276,
                0.0275,
                0.0274,
                0.0273,
                0.0272,
                0.0271,
                0.027,
                0.0268,
                0.0267,
                0.0266,
                0.0265,
                0.0264,
                0.0262,
                0.026,
                0.0259,
                0.0258,
                0.0256,
                0.0255,
                0.0254,
                0.0253,
                0.0252,
                0.025,
                0.0248,
                0.0246,
                0.0245,
                0.0244,
                0.0243,
                0.0242,
                0.0241,
                0.024,
                0.0239,
                0.0238,
                0.0237,
                0.0236,
                0.0235,
                0.0235,
                0.0234,
                0.0233,
                0.0233,
                0.0232,
                0.0232,
                0.0231,
                0.023,
                0.023,
                0.023,
                0.023,
                0.0229,
                0.0229,
                0.0228,
                0.0227,
                0.0227,
                0.0227,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0227,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0229,
                0.0229,
                0.023,
                0.023,
                0.0229,
                0.0229,
                0.0229,
                0.0229,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0228,
                0.0227,
                0.0226,
                0.0225,
                0.0225,
                0.0224,
                0.0223,
                0.0222,
                0.0221,
                0.022,
                0.0219,
                0.0218,
                0.0216,
                0.0214,
                0.0213,
                0.0212,
                0.0211,
                0.0209,
                0.0207,
                0.0206,
                0.0204,
                0.0202,
                0.02,
                0.0198,
                0.0196,
                0.0193,
                0.0191,
                0.0189,
                0.0187,
                0.0184,
                0.0182,
                0.0179,
                0.0177,
                0.0175,
                0.0173,
                0.017,
                0.0167,
                0.0164,
                0.0161,
                0.0159,
                0.0156,
                0.0154,
                0.015,
                0.0147,
                0.0145,
                0.0143,
                0.014,
                0.0137,
                0.0135,
                0.0132,
                0.0129,
                0.0126,
                0.0124,
                0.0121,
                0.0118,
                0.0116,
                0.0113,
                0.0111,
                0.0108,
                0.0105,
                0.0103,
                0.0101,
                0.00985,
                0.009640000000000001,
                0.00944,
                0.0092,
                0.00895,
                0.008740000000000001,
                0.00852,
                0.00826,
                0.00801,
                0.00782,
                0.00762,
                0.0074,
                0.00718,
                0.006959999999999999,
                0.00674,
                0.006529999999999999,
                0.006379999999999999,
                0.00624,
                0.00606,
                0.00587,
                0.0056700000000000006,
                0.00551,
                0.00539,
                0.005229999999999999,
                0.00503,
                0.00488,
                0.00475,
                0.00461,
                0.00445,
                0.00426,
                0.00409,
                0.00391,
                0.0037799999999999995,
                0.00366,
                0.0035600000000000002,
                0.00346,
                0.00337,
                0.00325,
                0.0031,
                0.00293,
                0.00278,
                0.0026899999999999997,
                0.00262,
                0.00255,
                0.00244,
                0.00231,
                0.00227,
                0.00218,
                0.0020399999999999997,
                0.0019399999999999999,
                0.00186,
                0.00175,
                0.0016600000000000002,
                0.00161,
                0.00155,
                0.00148,
                0.0013800000000000002,
                0.00128,
                0.00118,
                0.0011300000000000001,
                0.00107,
                0.0010199999999999999,
                0.001,
                0.000989,
                0.000917,
                0.0008289999999999999,
                0.000727,
                0.000708,
                0.000638,
                0.000502,
                0.0005070000000000001,
                0.000505,
                0.000455,
                0.000411,
                0.00039,
                0.000425,
                0.000364,
                0.00028399999999999996,
                0.000231,
                0.00016,
                0.000117,
                0.00016,
                6.28e-05,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0
            ],
            "indexflag": 1745671
        }
    ],
    "_index_flag": 1745671,
    "title": [
        {
            "subtextStyle": {
                "color": "#aaa",
                "fontSize": 12
            },
            "text": "Spectrum",
            "subtext": "",
            "left": "auto",
            "top": "auto",
            "textStyle": {
                "color": "#000",
                "fontSize": 18
            }
        }
    ],
    "backgroundColor": "#fff",
    "yAxis": [
        {
            "name": "",
            "type": "value",
            "nameLocation": "middle",
            "axisLabel": {
                "formatter": "{value} "
            },
            "nameTextStyle": {
                "fontSize": 14
            },
            "nameGap": 25
        }
    ],
    "dataZoom": [
        {
            "type": "slider",
            "end": 100,
            "start": 50,
            "show": true,
            "orient": "horizontal"
        }
    ],
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597",
        "#f6f5ec"
    ],
    "xAxis": [
        {
            "name": "",
            "type": "category",
            "nameLocation": "middle",
            "axisLabel": {
                "interval": "auto"
            },
            "nameTextStyle": {
                "fontSize": 14
            },
            "nameGap": 25,
            "data": [
                350.0,
                351.0,
                352.0,
                353.0,
                354.0,
                355.0,
                356.0,
                357.0,
                358.0,
                359.0,
                360.0,
                361.0,
                362.0,
                363.0,
                364.0,
                365.0,
                366.0,
                367.0,
                368.0,
                369.0,
                370.0,
                371.0,
                372.0,
                373.0,
                374.0,
                375.0,
                376.0,
                377.0,
                378.0,
                379.0,
                380.0,
                381.0,
                382.0,
                383.0,
                384.0,
                385.0,
                386.0,
                387.0,
                388.0,
                389.0,
                390.0,
                391.0,
                392.0,
                393.0,
                394.0,
                395.0,
                396.0,
                397.0,
                398.0,
                399.0,
                400.0,
                401.0,
                402.0,
                403.0,
                404.0,
                405.0,
                406.0,
                407.0,
                408.0,
                409.0,
                410.0,
                411.0,
                412.0,
                413.0,
                414.0,
                415.0,
                416.0,
                417.0,
                418.0,
                419.0,
                420.0,
                421.0,
                422.0,
                423.0,
                424.0,
                425.0,
                426.0,
                427.0,
                428.0,
                429.0,
                430.0,
                431.0,
                432.0,
                433.0,
                434.0,
                435.0,
                436.0,
                437.0,
                438.0,
                439.0,
                440.0,
                441.0,
                442.0,
                443.0,
                444.0,
                445.0,
                446.0,
                447.0,
                448.0,
                449.0,
                450.0,
                451.0,
                452.0,
                453.0,
                454.0,
                455.0,
                456.0,
                457.0,
                458.0,
                459.0,
                460.0,
                461.0,
                462.0,
                463.0,
                464.0,
                465.0,
                466.0,
                467.0,
                468.0,
                469.0,
                470.0,
                471.0,
                472.0,
                473.0,
                474.0,
                475.0,
                476.0,
                477.0,
                478.0,
                479.0,
                480.0,
                481.0,
                482.0,
                483.0,
                484.0,
                485.0,
                486.0,
                487.0,
                488.0,
                489.0,
                490.0,
                491.0,
                492.0,
                493.0,
                494.0,
                495.0,
                496.0,
                497.0,
                498.0,
                499.0,
                500.0,
                501.0,
                502.0,
                503.0,
                504.0,
                505.0,
                506.0,
                507.0,
                508.0,
                509.0,
                510.0,
                511.0,
                512.0,
                513.0,
                514.0,
                515.0,
                516.0,
                517.0,
                518.0,
                519.0,
                520.0,
                521.0,
                522.0,
                523.0,
                524.0,
                525.0,
                526.0,
                527.0,
                528.0,
                529.0,
                530.0,
                531.0,
                532.0,
                533.0,
                534.0,
                535.0,
                536.0,
                537.0,
                538.0,
                539.0,
                540.0,
                541.0,
                542.0,
                543.0,
                544.0,
                545.0,
                546.0,
                547.0,
                548.0,
                549.0,
                550.0,
                551.0,
                552.0,
                553.0,
                554.0,
                555.0,
                556.0,
                557.0,
                558.0,
                559.0,
                560.0,
                561.0,
                562.0,
                563.0,
                564.0,
                565.0,
                566.0,
                567.0,
                568.0,
                569.0,
                570.0,
                571.0,
                572.0,
                573.0,
                574.0,
                575.0,
                576.0,
                577.0,
                578.0,
                579.0,
                580.0,
                581.0,
                582.0,
                583.0,
                584.0,
                585.0,
                586.0,
                587.0,
                588.0,
                589.0,
                590.0,
                591.0,
                592.0,
                593.0,
                594.0,
                595.0,
                596.0,
                597.0,
                598.0,
                599.0,
                600.0,
                601.0,
                602.0,
                603.0,
                604.0,
                605.0,
                606.0,
                607.0,
                608.0,
                609.0,
                610.0,
                611.0,
                612.0,
                613.0,
                614.0,
                615.0,
                616.0,
                617.0,
                618.0,
                619.0,
                620.0,
                621.0,
                622.0,
                623.0,
                624.0,
                625.0,
                626.0,
                627.0,
                628.0,
                629.0,
                630.0,
                631.0,
                632.0,
                633.0,
                634.0,
                635.0,
                636.0,
                637.0,
                638.0,
                639.0,
                640.0,
                641.0,
                642.0,
                643.0,
                644.0,
                645.0,
                646.0,
                647.0,
                648.0,
                649.0,
                650.0,
                651.0,
                652.0,
                653.0,
                654.0,
                655.0,
                656.0,
                657.0,
                658.0,
                659.0,
                660.0,
                661.0,
                662.0,
                663.0,
                664.0,
                665.0,
                666.0,
                667.0,
                668.0,
                669.0,
                670.0,
                671.0,
                672.0,
                673.0,
                674.0,
                675.0,
                676.0,
                677.0,
                678.0,
                679.0,
                680.0,
                681.0,
                682.0,
                683.0,
                684.0,
                685.0,
                686.0,
                687.0,
                688.0,
                689.0,
                690.0,
                691.0,
                692.0,
                693.0,
                694.0,
                695.0,
                696.0,
                697.0,
                698.0,
                699.0,
                700.0,
                701.0,
                702.0,
                703.0,
                704.0,
                705.0,
                706.0,
                707.0,
                708.0,
                709.0,
                710.0,
                711.0,
                712.0,
                713.0,
                714.0,
                715.0,
                716.0,
                717.0,
                718.0,
                719.0,
                720.0,
                721.0,
                722.0,
                723.0,
                724.0,
                725.0,
                726.0,
                727.0,
                728.0,
                729.0,
                730.0,
                731.0,
                732.0,
                733.0,
                734.0,
                735.0,
                736.0,
                737.0,
                738.0,
                739.0,
                740.0,
                741.0,
                742.0,
                743.0,
                744.0,
                745.0,
                746.0,
                747.0,
                748.0,
                749.0,
                750.0,
                751.0,
                752.0,
                753.0,
                754.0,
                755.0,
                756.0,
                757.0,
                758.0,
                759.0,
                760.0,
                761.0,
                762.0,
                763.0,
                764.0,
                765.0,
                766.0,
                767.0,
                768.0,
                769.0,
                770.0,
                771.0,
                772.0,
                773.0,
                774.0,
                775.0,
                776.0,
                777.0,
                778.0,
                779.0,
                780.0,
                781.0,
                782.0,
                783.0,
                784.0,
                785.0,
                786.0,
                787.0,
                788.0,
                789.0,
                790.0,
                791.0,
                792.0,
                793.0,
                794.0,
                795.0,
                796.0,
                797.0,
                798.0,
                799.0,
                800.0
            ]
        }
    ],
    "legend": [
        {
            "show": true,
            "left": "center",
            "selectedMode": "multiple",
            "top": "top",
            "orient": "horizontal",
            "data": [
                "Spectrum"
            ]
        }
    ],
    "toolbox": {
        "feature": {
            "saveAsImage": {
                "show": true
            }
        },
        "left": "right",
        "top": "center",
        "orient": "vertical",
        "show": true
    }
};
        myChart.setOption(option);
    </script>
</body>

</html>