{% extends "base.html" %}

{% block title %}HHHHHH{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Hello, please follow the manual to start your IoT trip!</h3>
    <p>Welcome to HHHHHH IoT Platform!</p>
    <li><a href="http://www.nami.org.hk/en/nami/contact_us.html">Please share your comments with us!</a></li>
</div>

<div class="container">
    <h3>Register</h3>
    <p>Hi, <a href="{{ url_for('auth.register') }}">Register</a> now!</p>
</div>

<div class="container">
    <h3>Log In</h3>
    <p>You should <a href="{{ url_for('auth.login') }}">Log In</a> first if you want use our service.</p>
</div>

<div class="container">
    <h3>API</h3>
    <p>1. Find your api token on <mark>Profile</mark> page.</p>
    <p>2. Add one sensor on <mark>Edit Sensors</mark> page.</p>
    <pre>   You will find your <mark>sensor id</mark> in the <mark>sensors table</mark>.</pre>
    <pre>   Combine this <mark>sensor id</mark> and your <mark>Api Token</mark>, make a HTTP post as the following shows:</pre>
    <p>     <code>http://OurWebSite/api/v2.0/Api_Token/Sensor_Id</code></p>
    <p>     Post body: <code>{"timestamp":UTC_time (or "None"), "value": number}</code></p>
    <pre>   Then check your data point on <mark>Chart</mark> page.</pre>
    <p>3. For gps, the HTTP post should be:</p>
    <p>     <code>http://OurWebSite/api/v1.0/gps/Api_Token</code></p>
    <p>     Post body: <code>{"timestamp":UTC_time (or "None"), "lat": number, "lng": number}</code></p>
    <pre>   Then check your data point on <mark>GPS</mark> page.</pre>
</div>

{% endblock %}
