{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
    <h1>Lab charts</h1>
</div>

{% if form %}

{{ wtf.quick_form(form) }}

{% endif %}

<br/>
<div>
    <p></p>
</div>
{% if cie1931 %}

<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ cie1931|safe }}
</div>

{% endif %}

{% if swatch_color %}

<div class="container" style="width:500px; height:auto; float:left; display:inline">
    {{ swatch_color|safe }}
</div>

{% endif %}

{% endblock %}