{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
<script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
<div class="page-header">
    <h1>Sensor_charts</h1>
</div>
<div class="col-md-4" id="myform">
    {{ wtf.quick_form(form) }}
</div>
<div class="container">
    <p></p>
</div>
{% if valid !=0 %}
<div class="container">
    {{ chart |safe}}
</div>
{% endif %}

{% endblock %}